config CLKDEV_LOOKUP
	bool
	select HAVE_CLK

config HAVE_MACH_CLKDEV
	bool

config GENERIC_CLK
	bool

config GENERIC_CLK_BUILD_TEST
	bool "Build all generic clock drivers"
	depends on EXPERIMENTAL && GENERIC_CLK
	select GENERIC_CLK_FIXED
	select GENERIC_CLK_GATE
	help
	   Enable all possible generic clock drivers.  This is only
	   useful for improving build coverage, it is not useful for
	   production kernel builds.

config GENERIC_CLK_FIXED
	bool
	depends on GENERIC_CLK

config GENERIC_CLK_GATE
	bool
	depends on GENERIC_CLK
