
config CLKDEV_LOOKUP
	bool
	select HAVE_CLK

config HAVE_MACH_CLKDEV
	bool

config GENERIC_CLK
	bool

config GENERIC_CLK_FIXED
	bool
	depends on GENERIC_CLK

config GENERIC_CLK_GATE
	bool
	depends on GENERIC_CLK
