config CPU_OFFLINE
	bool "CPUoffline framework"
	help
	  CPUoffline provides a framework that allows for taking CPUs
	  offline via an in-kernel governor.  The governor itself can
	  implement any number of policies for deciding to offline a
	  core.  Though primarily used for power capping, CPUoffline can
	  also be used to implement a thermal duty to prevent core
	  over-heating, etc.

	  For details please see <file:Documentation/cpuoffline>.

	  If in doubt, say N.

config CPU_OFFLINE_DEFAULT_DRIVER
	bool "CPUoffline default driver"
	depends on CPU_OFFLINE
	help
	  A default driver that creates a single partition containing
	  all possible CPUs.  The benefit of this driver is that a
	  platform does not need any new code to make use of the
	  CPUoffline framework.  Do not select this if your platform
	  implements it's own driver for registering partitions and CPUs
	  with the CPUoffline framework.

	  If in doubt, say N.
